/*Use this file for any CSS tweaks to the Wordpress ADMIN*/

#editorcontainer #content {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 14px;
	}

.rwmb-text{
	width:90%;
	}